src/main/resources/client-api-definition/ConvertidorTipoCambio.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.api.cambiario.sivad.ms.nmp.com.mx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http"  xmlns:ns2="http://nmp.com.mx/ms/sivad/cambiario/ws/convertidor/datatypes/" name="ConvertidorTipoCambioEndpointService" targetNamespace="http://ws.api.cambiario.sivad.ms.nmp.com.mx/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://nmp.com.mx/ms/sivad/cambiario/ws/convertidor/datatypes/" version="1.0">
            <xs:element name="convertirRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="base" type="xs:string"/>
                        <xs:element name="destino" type="xs:string"/>
                        <xs:element name="monto" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="convertirResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conversion" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="convertirResponse">
        <wsdl:part element="ns2:convertirResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="convertir">
        <wsdl:part element="ns2:convertirRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ConvertidorTipoCambioService">
        <wsdl:operation name="convertir">
            <wsdl:input message="tns:convertir" name="convertir"></wsdl:input>
            <wsdl:output message="tns:convertirResponse" name="convertirResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConvertidorTipoCambioEndpointServiceSoapBinding" type="tns:ConvertidorTipoCambioService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="convertir">
            <soap:operation soapAction="http://nmp.com.mx/ms/cambiario/ws/convertidor/convertir" style="document"/>
            <wsdl:input name="convertir">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="convertirResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConvertidorTipoCambioEndpointService">
        <wsdl:port binding="tns:ConvertidorTipoCambioEndpointServiceSoapBinding" name="ConvertidorTipoCambioEndpointPort">
            <soap:address location="http://localhost:8083/soap-api/ConvertidorTipoCambio"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
